<meta charset="utf-8">

{#seo page site /}
{#rss site /}
<link rel="icon" href="/images/site-icon.png" type="image/png">

<base href="{page.url.relative}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="theme-color" content="#5b3ea6">
<meta name="msapplication-navbutton-color" content="#5b3ea6">
<meta name="apple-mobile-web-app-status-bar-style" content="#5b3ea6">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">

{#bundle /}