{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
{@java.util.List<io.vertx.core.json.JsonObject> menu}
{@java.lang.String menuTitle}

<ul class="navbar-links">
  {#for item in menu}
  <li>
    <a href="{site.url(item.path)}" {#if item.target??}target="{item.target}"{/if}>
      <i class="{item.icon}" aria-hidden="true"></i> {item.title}
    </a>
  </li>
  {/for}
</ul>

<ul class="navbar-dropdown">
  {#for item in menu}
  <li>
    <a href="{site.url(item.path)}" {#if item.target??}target="{item.target}"{/if}>
      <i class="{item.icon}" aria-hidden="true"></i> {item.title}
    </a>
  </li>
  {/for}
</ul>
