name: Deploy site

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Build Roq site
        uses: quarkiverse/quarkus-roq@v1
        with:
          github-pages: false
          site-url: https://zinebbendhiba.com
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/roq
          clean-exclude: pr-preview
